.navbar{
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.1);
  }

  .mainCard {
    margin: 2rem;
    width: fit-content;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.1);
  }

  .Home-body{
    padding: 5rem;
  }